

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Global-purple {
  color: #6E3BC7;
}

.Global-pink {
  color: #E692D0;
}

.Global-purple-bg {
  background-color: #6E3BC7;
}

.Global-pink-bg {
  background-color: #E692D0;
}

.header-height {
  height: 8vh;
}

.hero-height {
  height: 92vh;
}

.hero-bottom-image {
 position: absolute;
 left: 0;
 bottom: -40px;
}

.Nav-sticky {
  z-index: 1;
  position: sticky;
  top: 0;
}

.Background-gradient {
  background: rgb(230,146,208);
  background: linear-gradient(137deg, rgba(230,146,208,1) 30%, rgba(110,59,199,1) 70%);
  border-bottom: 1px solid rgba(206, 204, 204, 0.4);
}

.Background-gradient-hero {
  background: rgb(230,146,208);
  background: linear-gradient(90deg, rgba(230,146,208,1) 20%, rgba(110,59,199,1) 70%);
}

.Package-styles {
  width: 480px;
  height: 280px;
  box-shadow: 0px 10px 10px 10px rgba(100, 96, 96, 0.1);
}

@font-face {
  font-family: 'PoppinsBold';
  src: local('PoppinsBold'),
       url('./assets/fonts/Poppins/PoppinsBold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'PoppinsSemiBold';
  src: local('PoppinsBold'),
       url('./assets/fonts/Poppins/PoppinsSemiBold.ttf') format('truetype');
  font-weight: normal;
}

.Font-Bold {
  font-family: 'PoppinsBold';
}

.Font-S-Bold {
  font-family: 'PoppinsSemiBold';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Footer-positioning {
  position: absolute;
}

.Footer-description {
  position: relative;
  top: 0;
  padding-top: 14rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
